/** main.css for 12press
 * by tony baldwin | http://tonybaldwin.me
 */

body { background-color: white; color: black; margin: auto; width: 100%; 
	 font-family: "Times New Roman", Times, serif;
	 font-style: normal;
}

p {
	    font-size: 15px;
    }

li {
	    font-size: 14px;
    }
h1,h2,h3,h4 {color: #28215e; text-decoration: underline; }
h1.nb,h2.nb,h3.nb,h4.nb {color: #fff; text-decoration: bold; 
font-family: "Georgia", serif;
}

img.right { 
	float: right; 
	margin: 5px;
	border-width: 0px;
	border-color: darkgrey;
	border-style: solid; 
}

img.nlogo { 
	float: center; 
	margin: 5px; 
	border-width: 0px;
	right-margin: auto;
	left-margin: auto;
	-moz-border-radiius:10px;
	border-radius:10px;
}
img.center { 
	float: center; 
	margin: 5px; 
	border-width: 0px;
	border-color: darkgrey;
	border-style: solid;
	right-margin: auto;
	left-margin: auto;
}

a:link {text-decoration: underline; color: #002e71;}
a:visited {text-decoration: none; color: #432e69;}
a:active {text-decoration: none; color: red;}
a:hover {text-decoration: none; color: white; background-color:#0b5196; -moz-border-radius:3px;border-radius:3px;}

a.nb:link {text-decoration: underline; color: #fff;}
a.nb:visited {text-decoration: none; color: #eee;}
a.nb:active {text-decoration: none; color: #fff;}
a.nb:hover {text-decoration: none; color:#E0C917; background-color:#0B4106; -moz-border-radius:3px;border-radius:3px;}

#header {background-color: #3B61AE; color: #fff; width: 100%; border-bottom: 1px solid; padding:15px;}
#navbar {background-color: #3B61AE; color: #fff; float: left; width: 200px; border-right: 0px solid; padding: 5px; min-height: 100%;}
#main {float: left; 
	position: absolute; top: 150px; left: 210px;
	width: 1000px; 
	padding: 15px; 
}

#footer {
	position:fixed;bottom:0;
	width:100%;
	background-color: #3B61AE; 
	color: #fff; 
	clear: both; 
	border-top: solid 1px; 
	padding: 5px;
}

